.rua{
	width:1920px;
	min-height:50px;
	
	margin:auto;
}
.xiu{
	width:1280px;
	
	margin:auto;
}

.C1{
	width:1280px;
	height:50px;
	margin-top:28px;
	line-height:50px;
	font-size:28px;
	font-family:黑体;
	background:#f4f4f4;
} 


 .bod {
 	width: 1280px;
 	height: 600px;
 	text-align: center;
 	
 }

.o1{
	margin-top: 20px;
}





.denglu {
	width: 390px;
	height:60px;
	background:#dadada;
	text-align: center;
	color: white;
	margin-top: 20px;
	}